<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p appBasicHighlight>Style my with basic highlight</p>
      <hr>

      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let number of numbers"
          [ngClass]="{odd: number % 2 !== 0}"
          [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparant'}"
          >
          {{ number }}
        </li>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
        <ul class="list-group">
          <li
            class="list-group-item odd"
            *ngFor="let number of oddNumbers"
            [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparant'}">
            {{ number }}
          </li>
        </ul>
      </ng-template>
      <ng-template [ngIf]="!onlyOdd">
        <p>Even</p>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let number of evenNumbers"
            [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparant'}">
            {{ number }}
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</div>
